In [34]:
!pip install sqlalchemy psycopg2-binary ace_tools

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (1.4.54)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.9/site-packages (2.9.10)
Collecting ace_tools
  Downloading ace_tools-0.0-py3-none-any.whl (1.1 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (3.2.2)
Installing collected packages: ace_tools
Successfully installed ace_tools-0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [24]:
import os
from datetime import datetime, timedelta
import requests
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text

In [29]:

BATCH_SIZE = 1500
RAW_DB_URI = "postgresql+psycopg2://airflow:airflow@mlops-postgres:5432/airflow"
# CLEAN_DB_URI = os.getenv("CLEAN_DB_CONN")  
API_URL = "http://10.43.101.108:80/data?group_number=6&day=Wednesday"
API_URL_reset = "http://10.43.101.108:80/restart_data_generation?group_number=6&day=Wednesday"
SCHEMA     = "raw_data"
TABLE_NAME = "raw_data_init"
dsn = RAW_DB_URI.replace("postgresql+psycopg2://", "postgresql://")

In [21]:
response = requests.get(API_URL)
response.raise_for_status()
payload = response.json()

HTTPError: 400 Client Error: Bad Request for url: http://10.43.101.108:80/data?group_number=6&day=Wednesday

In [47]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

# 1️⃣ URI de conexión (asegúrate que RAW_DB_CONN está bien en tu .env)
RAW_DB_URI = os.getenv(
    "RAW_DB_CONN",
    "postgresql+psycopg2://airflow:airflow@mlops-postgres:5432/airflow",
)

# 2️⃣ Crear engine de SQLAlchemy
engine = create_engine(RAW_DB_URI)

# 3️⃣ Definir consultas
query_schema = "SELECT schema_name FROM information_schema.schemata WHERE schema_name = 'raw_data';"
query_table = (
    "SELECT table_schema, table_name "
    "FROM information_schema.tables "
    "WHERE table_schema = 'raw_data' AND table_name = 'raw_data_init';"
)

# 4️⃣ Ejecutar con engine.connect()
with engine.connect() as conn:
    rs = conn.execute(text(query_schema))
    df_schema = pd.DataFrame(rs.fetchall(), columns=rs.keys())
    rs = conn.execute(text(query_table))
    df_table = pd.DataFrame(rs.fetchall(), columns=rs.keys())

In [48]:
df_schema

  schema_name
0    raw_data

In [49]:
df_table

  table_schema     table_name
0     raw_data  raw_data_init

In [ ]:
group_number, day, batch_number, data